:root {
  --clr-background: #4dc1cb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-background);
}

canvas {
  display: block;
  max-width: 100%;
}

body {
  height: 100vh;
  height: 100svh;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  display: grid;
  gap: 1rem;

  @media (min-width: 768px) {
    align-items: flex-start;
    grid-template-columns: 1fr min(100%, 320px);
  }
}

#app {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* max-width: 600px;
  margin: auto; */
}

input {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 22px);
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

canvas {
  margin-top: 20px;
  margin: auto;
  border: 1px solid #ccc;
}

.scoreboard {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.score-title {
  text-align: center;
}

.scoreboard ul {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.crown {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: none;
}

.highest {
  font-weight: bold;
  color: gold;
}
